<div class="row text-primary mb-4 vh-100">
  <div class="col-md-4 clientList">
    <ol>
      <li>Abc</li>
      <li>Def</li>
      <li>Dell</li>
      <li>Samsung</li>
      <li>Etc</li>
      <li>Etc</li>
      <li>Etc</li>
    </ol>
  </div>
  <div class="col-md-4 clientList">
    <ol>
      <li>Abc</li>
      <li>Def</li>
      <li>Dell</li>
      <li>Samsung</li>
      <li>Etc</li>
      <li>Etc</li>
      <li>Etc</li>
    </ol>
  </div>
  <div class="col-md-4 clientList">
    <ol>
      <li>Abc</li>
      <li>Def</li>
      <li>Dell</li>
      <li>Samsung</li>
      <li>Etc</li>
      <li>Etc</li>
      <li>Etc</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center mb-3">
      <button class="btn border bg-primary text-light" routerLink="/client-bills">Client Bills</button>
      <button class="btn border bg-primary text-light ms-2" routerLink="/home">Go to homepage</button>
    </div>
  </div>
</div>
<app-footer></app-footer>