<div class="row text-primary my-4">
  <div class="col-md-4 clientList">
    <ol>
      <li>Abc</li>
      <li>Def</li>
      <li>Dell</li>
      <li>Samsung</li>
      <li>Etc</li>
      <li>Etc</li>
      <li>Etc</li>
    </ol>
  </div>
  <div class="col-md-4 clientList">
    <ol>
      <li>Abc</li>
      <li>Def</li>
      <li>Dell</li>
      <li>Samsung</li>
      <li>Etc</li>
      <li>Etc</li>
      <li>Etc</li>
    </ol>
  </div>
  <div class="col-md-4 clientList">
    <ol>
      <li>Abc</li>
      <li>Def</li>
      <li>Dell</li>
      <li>Samsung</li>
      <li>Etc</li>
      <li>Etc</li>
      <li>Etc</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <button class="btn border bg-primary text-warning" routerLink="/home">Go to homepage</button>
    </div>
  </div>
</div>

