<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-primary shadow-sm">
  <span style="cursor: pointer;" (click)="openSidebar(sideBarContent)"><i class="fa fa-bars ps-2"></i></span>
  <img class="me-auto ps-2" src="../../assets/images/SampleLogo.png" style="height: 37px; width:97px; cursor: pointer;" routerLink="/home">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="my-1 mx-2">
    <h6 class="text-light mb-2 mx-2 d-inline">Search Product</h6>
    <input class="serchProduct text-success" type="text" [(ngModel)]="searchProduct" (change)="searchProd()">
  </div>
  <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
    <div class="navbar-nav ms-auto">
      <button type="button" class="btn btn-warning mt-2 mt-md-0 me-sm-2 btn-sm" id="HomePageBtn" routerLink="/home">
        Home</button>
      <button type="button" *ngIf='loggedInUser.userName=="admin"' class="btn btn-warning mt-2 mt-md-0 me-sm-2 btn-sm" id="AddItemBtn" (click)="openSm(content)">
        Add Products</button>
      <button *ngIf='loggedInUser.userName=="admin"' class="btn btn-warning mt-2 mt-md-0 me-sm-2 btn-sm" routerLink="/clientList">Client List</button>
      <button class="btn btn-danger mt-2 mt-md-0 btn-sm" id="myCartBtn" routerLink="/shop-cart">
        <span class="position-relative"><i class="fa fa-shopping-cart pe-4"></i>
          <span class="badge badge-pill bg-success rounded-pill position-absolute start-0 ms-3">{{+totalItemsInCart}}</span></span>My cart</button>
    </div>
  </div>
</nav>
<!-- Bootstrap modal removing fade class and add open close function and modalBackdropHide css class -->
<ng-template #content let-modal>
  <div class="modal-dialog m-4">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Product</h4>
        <button type="button" class="close btn" aria-label="Close" (click)="formModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]= "myForm" (ngSubmit)= "onSubmit()">
          <div class="form-group">
            <label for="prImage">Product Image url</label>
            <input type="text" class="form-control" id="prImage" name="productImage" formControlName="productImage">
            <small *ngIf ="!myForm.get('productImage').valid && myForm.get('productImage').touched" class="form-text text-danger">
                <span *ngIf= "myForm.get('productImage')?.errors?.['required']" >Image Url is required!</span>
            </small>
          </div>
          <div class="form-group p-rel">
              <label for="prName">Product Name</label>
              <input type="text" class="form-control" id="prName" name="productName" formControlName="productName">
              <small *ngIf ="!myForm.get('productName').valid && myForm.get('productName').touched" class="form-text text-danger">
                  <span *ngIf= "myForm.get('productName')?.errors?.['required']" >Product Name is required!</span>
              </small>
          </div>
          <div class="form-group mb-2">
            <label for="prPrice">Product Price</label>
            <input type="text" class="form-control" id="prPrice" name="productPrice" formControlName="productPrice">
            <small *ngIf ="!myForm.get('productPrice').valid && myForm.get('productPrice').touched" class="form-text text-danger">
                <span *ngIf= "myForm.get('productPrice')?.errors?.['required']">Product price is Required!</span>
            </small>
          </div>
            <button type="submit" class="btn btn-primary btn-sm text-center" [disabled]= "!myForm.valid">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" (click)="formModalClose()">Close</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #sideBarContent let-offcanvas>
  <div class="offcanvas-header">
		<div class="offcanvas-title d-flex"><h6 class="text-warning">Welcome {{loggedInUser.userName}}!</h6></div>
		<button type="button" class="btn-close text-bg-light" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
  <div class="offcanvas-body">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel [disabled]="true">
        <ng-template ngbPanelTitle>
          <span routerLink="/home" style="cursor:pointer;">Homepage</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <li></li>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Clients</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li routerLink="/clientList">View ClientList</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Products" [disabled]="false">
        <ng-template ngbPanelContent>
          <ul>
            <li>Electronics</li>
            <li>Fashion</li>
            <li>Furniture</li>
            <li>Stationary</li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
	</div>
</ng-template>
